:root{
    --black: #201e1c;
    --principal-white: #fff;
    --secondary-white: #faf8f7;
    --red: #ff3d3d;
    --grey: #bababa;
    --font-sm: 1.2rem;
    --font-md: 1.6rem;
    --font-bg: 2.4rem;

     /*Fonts*/
     --font-DM: 'DM Sans', sans-serif;
     --font-inter: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--secondary-white);
}
/*                Header              */
.nav_perfil{
    text-align: center;
    font-size: var(--font-md);
    font-weight: 800;
    font-family: var(--font-inter);
    background-color: var(--black);
}
.nav_perfil ul{
    list-style: none;
}
.nav_perfil li{
    display: inline-block;
}
.nav_perfil li a{
    text-decoration: none;
    color: var(--principal-white);
}
.item{
    margin: 20px 25px 20px 25px;
}
.perfil_container{
    width: 100%;
    padding: 50px 20px;
    text-align: center;
}
.perfil_container img{
    width: 200px;
    border-radius: 100px;
}
.perfil_container h1{
    font-size: 30px;
    font-family: var(--font-DM);
    font-weight: 800;
    margin: 10px 0;
}
.perfil_container p{
    font-size: var(--font-sm);
    font-family: var(--font-DM);
    font-weight: 500;
}
/*            main            */
.aboutme_container{
    width: 100%;
    background-image: url(./assets/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutme_box{
    padding: 50px 0 50px 0;
}
.aboutme_box .aboutme_box--presentation{
    text-align: center;
    padding: 20px 40px 20px 40px;
}
.aboutme_box--presentation h2{
    font-size: var(--font-bg);
    font-family: var(--font-DM);
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--principal-white);
}
.aboutme_box--presentation p{
    color: var(--principal-white);
    font-size: var(--font-md);
    font-family: var(--font-DM);
}
.aboutme_box--information{
    width: 90%;
    margin: 0 auto;
}
.aboutme_information--container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
}
.container_information{
    background-color: var(--principal-white);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.container_information p{
    font-size: var(--font-sm);
    font-family: var(--font-DM);
    font-weight: 500;
    text-align: center;
    margin: 10px 0px;
}
.container_information img{
    margin: 5px 0 0 0;
    width: 40px;
}
/*         services          */
.services_container{
    width: 100%;
    margin: 50px 0;
}
.services_container--header{
    margin: 20px 0 20px 30px;
}
.services_container--header span{
    font-size: var(--font-sm);
    font-family: var(--font-DM);
    font-weight: 500; 
    color: var(--red);   
}
.services_container--header h1{
    margin: 10px 0 0 0;
    font-size: var(--font-bg);
    font-family: var(--font-DM);
    font-weight: 800;
}
.services_container .services_container--box{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}
.services_container .box_services{
    background-color: var(--principal-white);
    height: 100px;
    border-radius: 10px;
    display: flex;
}
.box_services--detail{
    padding: 5px 0 5px 0;
    margin: 5px;
}
.box_services--detail h3{
    margin: 0 0 5px 0;
    font-size: var(--font-md);
    font-family: var(--font-DM);
    font-weight: 800;
}
.box_services--detail p{
    font-family: var(--font-DM);
}
.box_services img{
    width: 70px;
    margin: 15px 30px 15px 30px;
}
.services_container .services_container--details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    margin: 30px auto;
}
.box_detail img{
    width: 40px;
    margin: 10px 5px 10px 5px;
}
.box_detail{
    display: flex;
}
.box_detail--details span{
    font-size: var(--font-md);
    font-family: var(--font-DM);
    font-weight: 800;
    color: var(--red);
}
.box_detail--details{
    padding: 5px;
}
.box_detail--details p{
    font-family: var(--font-DM);
    font-weight: 500;
}
.services_container--details .box_detail{
    height: 70px;
}
/*         Contact me           */
.contactme_container{
    width: 80%;
    margin: 50px auto;
}
.contactme_container--title{
    color: var(--black);
    font-size: var(--font-bg);
    font-family: var(--font-DM);
    font-weight: 800;
    margin: 20px 0 20px 0;
}
.contactme_container .contactme_container--form{
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 15px;
}
.contactme_container--form{
    color: var(--black);
    font-size: var(--font-md);
    font-family: var(--font-DM);
    font-weight: 500;
}
.contactme_container--form input{
    width: 100%;
    margin: 5px 0 5px 0;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.contactme_container--form input::placeholder{
    padding: 10px;
    color: var(--grey);
}
.form_name,.form_lastname,.form_email,.form_message{
    margin: 5px 0 15px 0;
}
.contactme_container--form button{
    margin: 10px 0 ;
    width: 100%;
    padding: 15px 20px;
    background-color: var(--red);
    border-radius: 10px;
    border: none;
    color: var(--principal-white);
    font-size: var(--font-md);
    font-family: var(--font-DM);
    font-weight: 500;
}
/*          footer          */
footer{
    background-color: var(--grey);
    width: 100%;
    padding: 20px 0 20px 0;
    margin: 50px 0 0 0;
}
footer p{
    text-align: center;
    font-size: var(--font-md);
    font-family: var(--font-DM);
    font-weight: 500;
}